page-profile {

    background:#f2f2f2;
    
    ion-header ion-navbar div,
    ion-header ion-navbar button{
        background:#34495e !important;
        color:#FFF !important;
    }

    ion-content {
        background:#f2f2f2;
    }
}
